<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/slate/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-G9YbB4o4U6WS4wCthMOpAeweY4gQJyyx0P3nZbEBHyz+AtNoeasfRChmek1C2iqV" crossorigin="anonymous">

    <!-- Own CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../static/main.css"/>
    <!-- Fontawesome Icons-->
    <script src="https://kit.fontawesome.com/064c0b8681.js" crossorigin="anonymous"></script>

</head>
<body class="p-2">
<table class="table table-bordered overzicht">
    <thead>
    <tr>
        <th style="width:75px">Kamer / Dag</th>
        <th th:each="dag, i: ${#numbers.sequence(1, dagenInMaand)}" th:text="${dag}" class="align-top text-center"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kamer, i: ${kamers}" class="text-center">
        <td th:text="${kamer.getKamerNummer()}" style="width:75px"></td>
        <td th:each="item: ${overzicht[i.index]}" th:classappend="${item} ? backgroundRed : backgroundGreen">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
