<!DOCTYPE html>
<!--  main-fragment (title, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #nav-kempenrust},
                                                ~{:: #main-content-kempenrust},
                                                ~{:: #footer-kempenrust}
                                               )}">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Kan je aanpassen = tabblad titel-->
    <title>Reserveringen</title>
</head>
<body>

<div id="nav-kempenrust" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>

<div id="main-content-kempenrust">
    <!-- Enkel hier en title aanpassen!! Rest laten staan-->
    <h1>Reserveringen</h1>

    <table class="table">
        <tr>
            <th>Aankomst</th>
            <th>Vertrek</th>
            <th>Naam</th>
            <th>Email</th>
            <th>Kamer</th>
            <th><i class="fas fa-plus"></i> </th>
        </tr>
        <tr th:each="detail: ${details}">
            <td th:text="${#dates.format(detail.getBoeking().getDatumVan(), 'dd/MM/yy')}"></td>
            <td th:text="${#dates.format(detail.getBoeking().getDatumTot(), 'dd/MM/yy')}"></td>
            <td th:text="${detail.getBoeking().getKlant().getNaam()}"></td>
            <td th:text="${detail.getBoeking().getKlant().getEmail()}"></td>
            <td th:text="'Kamer ' + ${detail.getKamer().getKamerNummer()}"></td>
            <td><i class="fas fa-pen"></i>    <i class="fas fa-trash"></i></td>
        </tr>
    </table>
</div>

<div id="footer-kempenrust" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>
</body>
</html>
