<!DOCTYPE html>
<!--  main-fragment (title, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #nav-kempenrust},
                                                ~{:: #main-content-kempenrust},
                                                ~{:: #footer-kempenrust}
                                               )}">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Kan je aanpassen = tabblad titel-->
    <title>Voorschotten</title>
</head>
<body>

<div id="nav-kempenrust" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>

<div id="main-content-kempenrust">
    <!-- Enkel hier en title aanpassen!! Rest laten staan-->
    <h1>Voorschotten bevestigen</h1>
    <div th:if="${message != null}" class="alert alert-secondary">
        <span th:text="${message}"></span>
    </div>
    <div th:if="${boekingen.size() == 0}" class="alert alert-secondary">
        <span>Momenteel geen voorschotten te bevestig.</span>
    </div>
    <table class="table" th:if="${boekingen.size() > 0 }">
        <tr>
            <th class="align-middle">Aankomst</th>
            <th class="align-middle">Vertrek</th>
            <th class="align-middle">Naam</th>
            <th class="align-middle">Voorschot</th>
            <th>
            </th>
        </tr>
        <tr th:each="boeking: ${boekingen}">
            <td th:text="${#dates.format(boeking.getDatumVan(), 'dd/MM/yy')}" class="align-middle"></td>
            <td th:text="${#dates.format(boeking.getDatumTot(), 'dd/MM/yy')}" class="align-middle"></td>
            <td th:text="${boeking.getKlant().getNaam()} + ' ' + ${boeking.getKlant().getVoornaam()}" class="align-middle"></td>
            <td th:text="${boeking.getBedragVoorschot()}" class="align-middle"></td>
            <td class="text-right">
                <button class="btn btn-secondary" data-toggle="modal" th:data-target="${'#confirm'+boeking.boekingID}"><i class="fas fa-cash-register"></i></button>
                <div class="modal fade" th:id="${'confirm'+boeking.boekingID}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Voorschot betaald?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Ben je zeker dat het voorschot betaalt is <span th:text="${boeking.getKlant().getNaam() + ' '+ boeking.getKlant().getVoornaam()}"></span>?
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{/reservering/bevestig/voorschot(boekingID=${boeking.boekingID})}" class="btn btn-primary">Bevestig</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleer</button>
                            </div>
                        </div>
                    </div>
            </td>
        </tr>
    </table>
</div>

<div id="footer-kempenrust" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>
</body>
</html>
