/*.container {*/
/*    position: relative;*/
/*    height: 100vh;*/
/*}*/

/*#content-wrap {*/
/*    padding-bottom: 2.5rem;    !* Footer height *!*/
/*}*/

/*footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 2.5rem;*/
/*}*/

td.backgroundRed {
    background: red;
    cursor: pointer;
}

td.backgroundGreen {
    background: green;
    cursor: pointer;
}

td.backgroundStriped{
    background-image: linear-gradient(-45deg, #ff0000 25%, #272b30 25%, #272b30 50%, #ff0000 50%, #ff0000 75%, #272b30 75%, #272b30 100%);
    cursor: not-allowed;
}

.btn-custom-a{
    height:50px;
    width:65px;
}
.btn-custom-a1{
    width: 182px;
}
.m-left{
    width: 182px;
    margin-left: 37px;
}
