<!DOCTYPE html>
<!--  main-fragment (title, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #nav-kempenrust},
                                                ~{:: #main-content-kempenrust},
                                                ~{:: #footer-kempenrust}
                                               )}">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Kan je aanpassen = tabblad titel-->
    <title>Arrangement</title>
</head>
<body>

<div id="nav-kempenrust" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>

<div id="main-content-kempenrust">
    <!-- Enkel hier en title aanpassen!! Rest laten staan-->
    <h1>Arrangement Toevoegen</h1>
    <form action="#" data-th-action="@{/add/arrangement}" th:object="${arrangement}"  method="post">
        <div class="row">
            <div class="form-group col-md-4 mt-3">
                <label for="naam">Naam</label>
                <input type="text" class="form-control" id="naam" th:field="*{verblijfsKeuze.naam}" required>
            </div>
            <div class="form-group col-md-4 mt-md-3">
                <label for="omschrijving">Omschrijving</label>
                <input type="text" class="form-control" id="omschrijving" th:field="*{verblijfsKeuze.omschrijving}" >
            </div>
            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>
        </div>
        <div class="row" th:each="prijsKamer, i: *{kamerPrijzen}">
            <h5 class="form-group col-md-4" th:text="'Kamer ' + *{kamerPrijzen[__${i.index}__].kamer.getKamerNummer()}"></h5>
            <input type="hidden" th:field="*{kamerPrijzen[__${i.index}__].kamerID}">
            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>
            <div class="form-group col-md-4">
                <label for="datumVan">Datum vanaf?</label>
                <input class="form-control" type="date" id="datumVan" th:field="*{datums[__${i.index}__]}">
            </div>
            <div class="form-group col-md-4">
                <label for="prijs">Prijs</label>
                <input class="form-control" type="number" id="prijs" th:field="*{kamerPrijzen[__${i.index}__].prijsPerKamer}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <a th:href="@{/arrangementen}" class="btn btn-primary w-100">Cancel</a>
            </div>
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-primary w-100">Voeg Toe</button>
            </div>
        </div>
    </form>
</div>
    <div id="footer-kempenrust" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>
</body>
</html>
