<!DOCTYPE html>
<!--  main-fragment (title, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #nav-kempenrust},
                                                ~{:: #main-content-kempenrust},
                                                ~{:: #footer-kempenrust}
                                               )}">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Kan je aanpassen = tabblad titel-->
    <title>Kamers</title>
</head>
<body>
<div id="nav-kempenrust" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>

<div id="main-content-kempenrust">
    <!-- Enkel hier en title aanpassen!! Rest laten staan-->
    <div th:if="${melding != null}" class="alert alert-secondary">
        <h3 th:text="${melding.foutmelding}"></h3>
    </div>
    <table class="table">
            <thead>
                <tr>
                    <th>Datum Van</th>
                    <th>Datum Tot</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${melding.boekingDatumVan != null}">
                    <td th:text="${#dates.format(melding.boekingDatumVan,'dd/MM/yyyy')}"></td>
                    <td th:text="${#dates.format(melding.boekingDatumTot,'dd/MM/yyyy')}"></td>
                </tr>
                <tr>
                    <td>
                        <a th:if="${melding.isKlant()}"
                           th:href="@{/klanten}" class="btn btn-primary " ><i class="fas fa-backspace"></i></a>
                        <a th:if="${melding.isKamer()}"
                           th:href="@{/kamers}" class="btn btn-primary" ><i class="fas fa-backspace"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
<div id="footer-kempenrust" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>

</body>
</html>
