<!DOCTYPE html>
<!--  main-fragment (title, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #nav-kempenrust},
                                                ~{:: #main-content-kempenrust},
                                                ~{:: #footer-kempenrust}
                                               )}">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Kan je aanpassen = tabblad titel-->
    <title>Kamers</title>
</head>
<body>

<div id="nav-kempenrust" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>

<div id="main-content-kempenrust">
    <!-- Enkel hier en title aanpassen!! Rest laten staan-->
    <h1>Kamers</h1>
    <table class="table" th:if="${kamers.size()!=0}">
        <thead>
        <tr>
            <th class="align-middle">Kamer Nummer</th>
            <th class="align-middle">Omschrijving</th>
            <th class="align-middle">Onbeschikbaar Van</th>
            <th class="align-middle">Onbeschikbaar Tot</th>
            <th>
                <a th:href="@{/nieweKamerToeveogen}"
                   class="btn btn-secondary">
                    <i class="fas fa-plus"></i></a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="kamer :${kamers}">
            <td th:text="${kamer.kamerNummer}" class="align-middle"></td>
            <td th:text="${kamer.omschrijving}" class="align-middle"></td>
            <td th:text="${#dates.format(kamer.datumVan,'dd/MM/yyyy')}" class="align-middle"></td>
            <td th:text="${#dates.format(kamer.datumTot,'dd/MM/yyyy')}" class="align-middle"></td>
            <td>
                <a class="btn btn-secondary"
                    th:href="@{/kamerAanpassen(kamerId=${kamer.kamerID})}">
                    <li class="fas fa-pen"></li></a>
                <a class="btn btn-secondary"
                        th:href="@{/kamerVerwijderen(kamerId=${kamer.kamerID})}">
                    <li class="fas fa-trash"></li></a>
            </td>
            </td>
            <td>
                <a class="btn btn-secondary"
                th:href="@{/kamerBeschikbaarheid(kamerId=${kamer.kamerID})}">
                Beschikbaarheid</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="footer-kempenrust" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>
</body>
</html>
