<!DOCTYPE html>
<!--  main-fragment (title, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #nav-kempenrust},
                                                ~{:: #main-content-kempenrust},
                                                ~{:: #footer-kempenrust}
                                               )}">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Kan je aanpassen = tabblad titel-->
    <title>Kamers</title>
</head>
<body>

<div id="nav-kempenrust" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>

<div id="main-content-kempenrust">
    <!-- Enkel hier en title aanpassen!! Rest laten staan-->
    <h1 th:text="'Kamer '+ ${kamer.kamerNummer}+ ' beschikbaar'"></h1>
    <div th:if="${melding?.foutmelding != null}" class="alert alert-secondary">
        <span th:text="${melding.foutmelding}"></span>
    </div>
    <table class="table" th:if="${kamer.datumVan}">
        <thead>
        <tr>
            <th>Kamernummer</th>
            <th>Onbeschikbaar Van</th>
            <th>Onbeschikbaar Tot</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${kamer.kamerNummer}"></td>
            <td th:text="${#dates.format(kamer.datumVan, 'dd/MM/yy')}"></td>
            <td th:text="${#dates.format(kamer.datumTot, 'dd/MM/yy')}"></td>
            <td class="text-right"><a th:href="@{/kamerBeschikbaarMaken(kamerId=${kamer.kamerID})}"
                   class="btn btn-primary">
                   Beschikbaar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
        <form th:action="@{/kamerOnBeschikbaarMaken}" method="post" th:object="${kamer}" >
            <input type="hidden" th:field="*{kamerID}">
            <div class="form-group col-md-8 p-0">
                <label for="datumVan">Datum Van</label>
                <input th:field="*{datumVan}" id="datumVan" type="date" class="form-control" required max="9999-12-31"/>
            </div>
            <div class="form-group col-md-8 p-0">
                <label for="datumTot">Datum Tot</label>
                <input th:field="*{datumTot}" id="datumTot" type="date" class="form-control" required max="9999-12-31"/>
            </div>

            <div class="form-group col-md-8 p-0">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary form-control">Onbeschikbaar</button>
                </div>
                <div class="form-group col-md-6">
                    <a th:href="@{/kamers}" class="btn btn-secondary form-control" >Annuleer</a>
                </div>
            </div>
            </div>

        </form>
</div>
    <div id="footer-kempenrust" th:replace="~{/fragments/app-fragments :: copyright}">
        Footer
    </div>
</body>
</html>
