<!DOCTYPE html>
<!--  main-fragment (title, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #nav-kempenrust},
                                                ~{:: #main-content-kempenrust},
                                                ~{:: #footer-kempenrust}
                                               )}">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Kan je aanpassen = tabblad titel-->
    <title>Klanten</title>
</head>
<body>

<div id="nav-kempenrust" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>

<div id="main-content-kempenrust">
    <!-- Enkel hier en title aanpassen!! Rest laten staan-->
    <h1>Klanten</h1>
    <div th:if="${melding.melding != null}" class="alert alert-dismissible alert-success">
        <h3 th:text="${melding.melding} ? ${melding.melding}"></h3>
    </div>
    <table class="table" th:if="${klanten.size()!=0}">
        <thead>
        <tr>
            <th class="align-middle">Klant Naam</th>
            <th class="align-middle">Telefoon</th>
            <th class="align-middle">Email</th>
            <th class="align-middle">Adres</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="klant :${klanten}">
            <td th:text="${klant.voornaam}+ ' '+ ${klant.naam}" class="align-middle"></td>
            <td th:text="${klant.telefoonnummer}" class="align-middle"></td>
            <td th:text="${klant.email}" class="align-middle"></td>
            <td th:text="${klant.straat} +' '+
             ${klant.huisnummer} +', '+
             ${klant.postcode} +' '+
             ${klant.gemeente}"
            class="align-middle"></td>
            <td>
                <a class="btn btn-secondary"
                    th:href="@{/KlantgegevensAanpassen(klantId=${klant.klantID})}">
                    <li class="fas fa-pen"></li></a>
                <button class="btn btn-secondary" data-toggle="modal"
                        data-target="#deleteConfirmation">
                    <i class="fas fa-trash"></i></button>
                <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Verwijder klant?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Ben je zeker dat je deze klant wil verwijderen?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleer</button>
                                <a class="btn btn-secondary" th:href="@{/klantVerwijderen(klantId=${klant.klantID})}">Verwijder</li></a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="footer-kempenrust" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>
</body>
</html>
