<!DOCTYPE html>
<!--  main-fragment (title, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #nav-kempenrust},
                                                ~{:: #main-content-kempenrust},
                                                ~{:: #footer-kempenrust}
                                               )}">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Kan je aanpassen = tabblad titel-->
    <title>Kamer Beheren</title>
</head>
<body>

<div id="nav-kempenrust" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>

<div id="main-content-kempenrust">
    <!-- Enkel hier en title aanpassen!! Rest laten staan-->
    <h1>Klant Toevoegen</h1>

    <div th:if="${melding.melding != null}" class="alert alert-dismissible alert-success">
        <h3 th:text="${melding.melding} ? ${melding.melding}"></h3>
</div>

    <div th:if="${melding.foutmelding != null}" class="alert alert-danger">
        <h3 th:text="${melding.foutmelding} ? ${melding.foutmelding}"></h3>
    </div>

    <form action="#" data-th-action="@{/nieweKlantToeveogen}" th:object="${klant}" method="post">

        <div class="row">

            <div class="form-group col-md-4 mt-md-3">
                <label for="voornaam">Naam</label>
                <input type="text" class="form-control" id="voornaam" required th:field="*{voornaam}">
            </div>

            <div class="form-group col-md-4 mt-md-3">
                <label for="naam">Naam</label>
                <input type="text" class="form-control" id="naam" required th:field="*{naam}">
            </div>

            <div class="w-100"></div>

            <div class="form-group col-md-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" min="1" required th:field="*{email}">
            </div>

            <div class="form-group col-md-4">
                <label for="telefoonnummer">Telefoonnummer</label>
                <input type="text" class="form-control" id="telefoonnummer" required th:field="*{telefoonnummer}">
            </div>

            <div class="w-100"></div>

            <div class="form-group col-md-4">
                <label for="straat">Straat</label>
                <input type="text" class="form-control" id="straat" min="1" required th:field="*{straat}">
            </div>

            <div class="form-group col-md-4">
                <label for="huisnummer">Huisnummer</label>
                <input type="number" class="form-control" id="huisnummer" min="1" required th:field="*{huisnummer}">
            </div>

            <div class="w-100"></div>

            <div class="form-group col-md-4">
                <label for="postcode">Postcode</label>
                <input type="text" class="form-control" id="postcode" min="1" required th:field="*{postcode}">
            </div>

            <div class="form-group col-md-4">
                <label for="huisnummer">Gemeente</label>
                <input type="text" class="form-control" id="gemeente"  required th:field="*{gemeente}">
            </div>

            <div class="w-100"></div>

            <div class="form-group col-md-4">
                <a th:href="@{/klanten}" class="btn btn-primary form-control" >Cancel</a>
            </div>

            <div class="form-group col-md-4">
                <button type="submit" name="action" value="zoek-kamers" class="btn btn-primary form-control">Toevoegen</button>
            </div>
        </div>


    </form>



</div>
    <div id="footer-kempenrust" th:replace="~{/fragments/app-fragments :: copyright}">
        Footer
    </div>
</body>
</html>
